#card {
    color: aliceblue;
    border: 1px solid white;
    width: 256px;
    position: relative;
    text-align: center;
}

#music-list {
    padding: 40px;
    height: 100%;
    width: 100%;
}

#music-card {
    width: 368px;
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    position: absolute;
    border-radius: 16px;
}

#music-card:hover {
    box-shadow: 3px 3px 1px 3px #c9ada7;
}