table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #2b2b40;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
}


thead {
    background-color: #3c3c55;
}

thead th {
    color: #ffcb05;
    padding: 12px 16px;
    text-align: left;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 2px solid #454566;
}


tbody tr {
    transition: background-color 0.2s ease;
    cursor: pointer;
}

tbody tr:hover {
    background-color: #383850;
}

tbody td {
    padding: 12px 16px;
    font-size: 14px;
    border-bottom: 1px solid #454566;
    color: #f8f8f2;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: #ffcb05;
    cursor: pointer;
}