.music-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    width: 250px;
    transition: transform 0.3s ease;
    
}

.music-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.music-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.music-card div {
    font-size: 0.9rem;
    margin-bottom: 8px;
    color: #555;
}

.music-card .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.music-card .icons svg {
    cursor: pointer;
    transition: color 0.3s ease;
}

.music-card .icons svg:hover {
    color: #333;
}